-- Check current RLS policies for user_roles table
SELECT 
    schemaname, 
    tablename, 
    policyname, 
    permissive, 
    roles, 
    cmd, 
    qual 
FROM pg_policies 
WHERE tablename = 'user_roles' 
AND schemaname = 'public'
ORDER BY policyname;
