-- Check if discussions table exists and has data
SELECT 
    table_name, 
    'EXISTS' as status
FROM information_schema.tables 
WHERE table_schema = 'public' 
AND table_name = 'discussions';

-- Check discussions table structure
SELECT 
    column_name, 
    data_type, 
    is_nullable
FROM information_schema.columns 
WHERE table_name = 'discussions' 
AND table_schema = 'public'
ORDER BY ordinal_position;

-- Check if there are any discussions
SELECT COUNT(*) as discussion_count FROM discussions;

-- Show sample discussions if any exist
SELECT id, title, created_at, user_email 
FROM discussions 
ORDER BY created_at DESC 
LIMIT 5;
