SELECT page_path, poll_index, question FROM polls WHERE page_path LIKE '%tiered-framework%' ORDER BY poll_index;
SELECT page_path, poll_index, question FROM ranking_polls WHERE page_path LIKE '%tiered-framework%' ORDER BY poll_index;
SELECT page_path, poll_index, question FROM wordcloud_polls WHERE page_path LIKE '%tiered-framework%' ORDER BY poll_index;
